*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}


@media only screen and (max-width: 600px) {
    .menu-list{
        display: none;
    }
  }